altgraph==0.17.4
certifi==2025.7.14
charset-normalizer==3.4.2
cloudscraper==1.2.71
idna==3.10
macholib==1.16.3
packaging==25.0
pyinstaller==6.14.2
pyinstaller-hooks-contrib==2025.8
pyparsing==3.2.3
PyYAML==6.0.2
requests==2.32.4
requests-toolbelt==1.0.0
setuptools==80.9.0
urllib3==2.5.0
